<div class="menu">
    <p class="filter-by-type">Filter by Type</p>
    <div>
        <div class="item">
            <button mat-button routerLink="./../work-list" routerLinkActive="active-link">All</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../dreidels-list" routerLinkActive="active-link">Dreidels</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../plates-list" routerLinkActive="active-link">Plates</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../candlesticks-list" routerLinkActive="active-link">Candlesticks</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../vases-list" routerLinkActive="active-link">Vases</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../mezuzahs-list" routerLinkActive="active-link">Mezuzahs</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../mirrors-list" routerLinkActive="active-link">Mirrors</button>
        </div>
    </div>
    <p class="filter-by-price">Filter by Price</p>
    <div>
        <div class="item">
            <button mat-button routerLink="./../work-list" routerLinkActive="active-link">All</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../under100" routerLinkActive="active-link">Under $100</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../under250" routerLinkActive="active-link">$100 - $249</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../under500" routerLinkActive="active-link">$250 - $499</button>
        </div>
        <div class="item">
            <button mat-button routerLink="./../over500" routerLinkActive="active-link">$500 and Over</button>
        </div>
    </div>
</div>