<div class="desktop">
    <div class="image">
        <img src='./../../assets//images/olga_goldin.jpg'>
    </div>
    <div class="text">
        <h3>
            <b>About Olga Goldin</b>
        </h3>
        <p> With over 30 years of experience, I pride myself on creating unique, handcrafted ceramic art work for my clients
            nationwide.
        </p>
        <p>
            Every piece captures my deep-rooted interests in botany, wildlife and nature intertwined with my European heritage and family
            values.
        </p>
        <p>
            It all starts from my garden where I collect natural leaves, lavender, wildflowers and other herbs throughout the spring,
            summer and fall season. Once collected, I carefully press the different plants into soft clay to create impressions
            on many of my pieces.
        </p>
        <p>
            Each piece is fired two to three times at a scorching 2180 F degrees in my kiln. The first cycle is known as “Bisque Firing”
            which transforms greenware into a durable form enabling the glazing process. After this cycle, ceramic glaze
            is applied to decorate the piece. The second cycle is known as “Glaze Firing” during which the decorative glaze
            is cemented into the art piece giving it shine, glow and life. After the pieces are fired, they rest for 3 weeks
            to dry naturally. Upon urgent delivery requests, the ceramic pieces are force dried in my oven on low heat which
            substantially reduces the time required for the art work to dry.
        </p>
    </div>
</div>

<div class="mobile">
    <div class="image">
        <img src='./../../assets//images/olga_goldin.jpg'>
    </div>
    <div class="text">
        <h3>
            <b>About Olga Goldin</b>
        </h3>
        <p> With over 30 years of experience, I pride myself on creating unique, handcrafted ceramic art work for my clients
            nationwide.
        </p>
        <p>
            Every piece captures my deep-rooted interests in botany, wildlife and nature intertwined with my European heritage and family
            values.
        </p>
        <p>
            It all starts from my garden where I collect natural leaves, lavender, wildflowers and other herbs throughout the spring,
            summer and fall season. Once collected, I carefully press the different plants into soft clay to create impressions
            on many of my pieces.
        </p>
        <p>
            Each piece is fired two to three times at a scorching 2180 F degrees in my kiln. The first cycle is known as “Bisque Firing”
            which transforms greenware into a durable form enabling the glazing process. After this cycle, ceramic glaze
            is applied to the decorate the piece. The second cycle is known as “Glaze Firing” during which the decorative
            glaze is cemented into the art piece giving it shine, glow and life. After the pieces are fired, they rest for
            3 weeks to dry naturally. Upon urgent delivery requests, the ceramic pieces are force dried in my oven on low
            heat which substantially reduces the time required for the art work to dry.
        </p>
    </div>
</div>