<div class="desktop">
    <div class="image">
        <img src='./../../assets//images/olga_goldin.jpg'>
    </div>
    <div class="text">
        <p> With over 30 years of experience, Olga Goldin prides herself on creating unique, handcrafted ceramic art pieces for
            her clients nationwide.
        </p>
        <p>
            After immigrating from Belarus to the USA in 1994, Olga quickly established herself as one of the most talented ceramic artists
            in the greater Baltimore-Washington area and started Gold'n Ceramics.
        </p>
        <p>
            Olga creates all of her pieces from the basement of her home. Every ceramic piece is fired three times in the kiln - greenware,
            glazefire and .
        </p>
        <p>
            Today, Olga is recognized at craft shows throughout the east coast serving thousands of satisfied customers.
        </p>
    </div>
</div>

<div class="mobile">
    <div class="image">
        <img src='./../../assets//images/olga_goldin.jpg'>
    </div>
    <div class="text">
        <p> With over 30 years of experience, Olga Goldin prides herself on creating unique, handcrafted ceramic art pieces for
            her clients nationwide.
        </p>
        <p>
            After immigrating from Belarus to the USA in 1994, Olga quickly established herself as one of the most talented ceramic artists
            in the greater Baltimore-Washington area and started Gold'n Ceramics.
        </p>
        <p>
            Olga creates all of her pieces from the basement of her home. Every ceramic piece is fired three times in the kiln - greenware,
            glaze and gold.
        </p>
        <p>
            Today, Olga is recognized at craft shows throughout the east coast serving thousands of satisfied customers.
        </p>
    </div>
</div>