<div class="list">
    <div *ngFor="let item of items" class="container">
        <mat-card>
            <h5 class="item">{{item.payload.doc.data().title}}</h5>
            <h5 class="item">${{item.payload.doc.data().price}}</h5>
            <div class="image" (click)="view(item)">
                <img mat-card-image src={{item.payload.doc.data().downloadURL}}>
            </div>
            <div class="sub-container">
                <a mat-raised-button color="warn" href="{{item.payload.doc.data().etsy}}">Purchase</a>
                <button (click)="viewDetails(item)">Modify</button>
            </div>
        </mat-card>
    </div>
</div>