<mat-toolbar class="desktop">
    <h3 routerLink="" routerLinkActive="active-link">Gold'n Ceramics</h3>
    <p mat-menu-item routerLink="/about" routerLinkActive="active-link">
        <span>About</span>
    </p>
    <p mat-menu-item routerLink="/login" routerLinkActive="active-link">
        <span>Login</span>
    </p>
    <p mat-menu-item routerLink="/create" routerLinkActive="active-link" *ngIf="isAdmin">
        <span>Create</span>
    </p>
    <p mat-menu-item routerLink="/modify" routerLinkActive="active-link" *ngIf="isAdmin">
        <span>Modify</span>
    </p>
    <p mat-menu-item routerLink="" routerLinkActive="active-link">
        <span>Purchase</span>
    </p>
    <p mat-menu-item routerLink="/contact" routerLinkActive="active-link">
        <span>Contact Us</span>
    </p>
</mat-toolbar>

<mat-toolbar class="mobile">
    <button mat-button [matMenuTriggerFor]="main">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #main="matMenu">
        <p mat-menu-item routerLink="/about" routerLinkActive="active-link">
            <span>About</span>
        </p>
        <p mat-menu-item routerLink="/login" routerLinkActive="active-link">
            <span>Login</span>
        </p>
        <p mat-menu-item routerLink="/create" routerLinkActive="active-link" *ngIf="isAdmin">
            <span>Create</span>
        </p>
        <p mat-menu-item routerLink="/modify" routerLinkActive="active-link" *ngIf="isAdmin">
            <span>Modify</span>
        </p>
        <p mat-menu-item routerLink="" routerLinkActive="active-link">
            <span>Purchase</span>
        </p>
        <p mat-menu-item routerLink="/contact" routerLinkActive="active-link">
            <span>Contact Us</span>
        </p>
    </mat-menu>
    <h3 routerLink="" routerLinkActive="active-link">Gold'n Ceramics</h3>
</mat-toolbar>

<router-outlet></router-outlet>