<nav>
    <p mat-menu-item routerLink="/form/create-work" routerLinkActive="active-link">
        <span>Create Work</span>
    </p>
    <p mat-menu-item routerLink="/form/work-list" routerLinkActive="active-link">
        <span>Display List</span>
    </p>
    <p mat-menu-item routerLink="/form/edit-work" routerLinkActive="active-link">
        <span>Edit Work</span>
    </p>
    <p mat-menu-item routerLink="/form/work-detail" routerLinkActive="active-link">
        <span>Work Detail</span>
    </p>
    <p mat-menu-item routerLink="/send-email" routerLinkActive="active-link">
        <span>Contact Us</span>
    </p>
    <p mat-menu-item routerLink="/practice" routerLinkActive="active-link">
        <span>Practice</span>
    </p>
</nav>
<router-outlet></router-outlet>