@media (min-width: 900px) {   
    .mobile {
        display: none;
    }
    mat-toolbar {
        display: grid;
        grid-auto-flow: column;
        color: gold;
        background-color:black;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 1;
    }

    h3 {
        padding-bottom: 5px;
        padding-left: 20px;

    }

    hr {
        height:20px;
        background-color: white;
        color: white;
    }

    p:nth-child(2) {
        margin-left: 50px;
    }

    p:hover {
        color: red;
    }

    p:focus {
        outline: none;
    }

    h3:hover {
        color: red;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        color: gold;
    }

    html {
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 899px) {
    .desktop {
        display: none;
    }
    mat-toolbar {
        display: grid;
        grid-auto-flow: column;
        color: gold;
        background-color:black;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 1;
    }
    button {
        width: 5%;
        margin-right: 20px;
    }

    h3 {
        margin-right: 170px;
    }

    hr {
        height:20px;
        background-color: black;
        color: black;
    }

    p:hover {
        color: red;
    }

    p:focus {
        outline: none;
    }

    h3:hover {
        color: red;
    }

    html {
        scroll-behavior: smooth;
    }
    
    mat-icon:hover {
        color: red;
    }
}