.main {
    display: flex;
    flex-direction: row;
}

.container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
}

button {
    width: 20%;
}

form{
    padding: 100px;
}
mat-form-field {
    width: 500px;
}