.separator {
    display: flex;
    flex-direction: row;
}
.main {
    padding-top: 100px;
    padding-left: 30px;
    height: 100%;
}

.item {
    padding: 5px;
    color: gray;
}
.filter-type {
    font-weight: bold;
}

.filter-price {
    font-weight: bold;
    padding-top: 20px;
}

.filter-menu {
    display: flex;
    flex-direction: column;
}

.filter {
    position: fixed;
    padding-top: 20px;
}