<p mat-menu-item routerLink="./../work-list" routerLinkActive="active-link">
    <span>Main Menu</span>
</p>

<p mat-menu-item routerLink="./../filter/vases-list" routerLinkActive="active-link">
    <span>Vases</span>
</p>
<p mat-menu-item routerLink="./../filter/dreidels-list" routerLinkActive="active-link">
    <span>Dreidels</span>
</p>

<div class="list-group users-list">
    <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
        <div>
            <h5 class="mb-1">{{item.payload.doc.data().title}}</h5>
            <h5 class="mb-1">{{item.payload.doc.data().description}}</h5>
            <h5 class="mb-1">{{item.payload.doc.data().price}}</h5>
            <h5 class="mb-1">{{item.payload.doc.data().type}}</h5>
            <img class="mb-1" src={{item.payload.doc.data().downloadURL}}>
            <button (click)="viewDetails(item)">Modify</button>
        </div>
    </div>
</div>